[Unit]
Description=Service to start and stop Excubitor

[Service]
WorkingDirectory=/opt/excubitor
ExecStart=/opt/excubitor/bin/excubitor-backend --config /etc/excubitor/config.yml

[Install]
WantedBy=multi-user.target
